body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #262626;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  padding: 50px;
}

.aside-card {
  padding: 20px;
  margin-right: 40px;
}

.aside-card .title {
  font-style: italic;
}

.aside .about {
  background-color: #f7f9fb;
}
