body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #262626;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.aside {
  flex: 1;
}

.aside-card {
  padding: 20px;
  margin-right: 40px;
}

.aside-card .title {
  font-style: italic;
}

.aside .about {
  background-color: #f7f9fb;
}

.main {
  flex: 4;
}

.main-card {
  border: 1px solid #ececec;
  padding: 20px;
  width: 420px;
  margin-bottom: 30px;
}

.float-card-left {
  float: left;
}

.float-card-right {
  float: right;
}

.main-card .link {
  color: #057bfe;
  text-decoration: none;
}
